
*{
  margin: 0 auto;
  color: #008B8B;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}
body{
 background-color: #1D1D1C;
}
/*Nav Bar start*/
nav{
  height: 60px;
  width: 100%;
  background: #474747;
  position: fixed;
  
}
label .logo{
  font-size: 30px;
  font-weight: bold;
  color: #008B8B;
  padding: 0 20px;
  line-height: 65px;
  text-shadow: 2px 2px #ffffff;
}
nav ul{
  float:right;
  margin-right: 40px;
}
nav li{
  display: inline-block;
  margin: 0 8px;
  line-height: 65px;
}
nav a{
  color:#008B8B;
  font-size: 20px;
  text-shadow: 2px 2px #000;
  padding: 5px 10px;
  text-decoration: none;
}
a:hover{
  transition: .5s;
  color: #008B8B;
} 
nav #icon{
  color: #008B8B;
  font-size: 60px;
  line-height: 50px;
  float:right;
  margin-right:50px;
  cursor: pointer;
  display: none;
  }

/*Nav Bar end*/
/*intro Start here*/
.intro{
  background-color:  #1D1D1C;
  height: 100vh;
  background-position: center;
  background-repeat: cover;
}
.intro-content h1{
 color: #008B8B;
   text-align: center;
   font-size: 60px;
   padding: 300px 30px 20px;
  text-shadow: 2px 2px #A5A5A5;
 
}
.intro-content p{
  color: whitesmoke;
   text-align: center;
   font-size: 20px;
   padding: 0px 30px 20px;
}
/*intro end here*/
#wrapper{
  background-color: #1D1D1C;
  height: 700px;
  background-position: center;
  background-repeat: cover;
  border-radius: 30px;
}

#img-info{
  width: 100%;
  padding-top: 30px;
}
.img-info h1{
  padding: 60px 30px 20px;
  font-size: 30px;
  line-height: 44px;
  text-shadow: 2px 2px #000;
  color: #008B8B;
}
.img-info h2{
  padding: 0px 0px 0px 30px;
  font-size: 50px;
  line-height: 5px;
  text-shadow: 2px 2px #ffffff;
  color: #008B8B;
}
.img-info p{
  color: #ffffff;
  margin:  80px 30px 20px 80px;
  font-size: 16px;
  line-height: 24px;
  padding: 70px 0px 0px 30px;
}
.img-me{
  padding-top: 30px;
  width: 40%;
  float: left;
  border-radius: 300px;
}

/*Android Device*/
@media (max-width:  480px){
  nav #icon{
    display: block;
    font-size: 40px;
    margin: 10px;
}
nav{
  height: 60px;
  width: 100%;
  background: #474747;
  position: fixed;
  
}
  nav ul{

    position:fixed;
    width: 100%;
    height: 400px;
    background: #474747;
    top:60px;
    right: -800px;
    text-align: left;
    transition: all 0.5s ease-out;
    border-radius: 0px 0px 20px 0px;
  }
  nav li{
  display:block;
  margin: 50px;
  line-height: 30px;
  }
  nav a{
  font-size: 20px;
  }
  a.active,a:hover{
  border:none;
  color:#008B8B;
  }
  nav ul.show{
      right:0;
  }
.intro h1{
  font-size: 43px;
}
  
  #wrapper{
    width: 100%;

}
.img-info h2{
  
    font-size: 30px;
    
}
.img-info p{
    padding: 20px 0px 0px;
}
.img-me{
  padding: 10px;
  border-radius: 300px;
}
.logo{
  font-size: 20px;
  font-weight: bold;
  color: #008B8B;
  padding: 0 20px;
  line-height: 80px;
 
}




}
/*----------------------------------*/
/*Tablet Mode*/
@media only screen and (min-width: 768px){
  .img-banner{
    width: 100%;
    padding-bottom: 30px;
}
#wrapper{
    width: 600px;
    margin: 0 auto;
}
.img-info h2{
    padding: 20px 0px 0px;
}
.img-info p{
    padding: 20px 0px 0px;
}
.img-me{
  padding: 20px;
  
}
.logo{
  font-size: 20px;
  font-weight: bold;
  color: cyan;
  padding: 0 20px;
  line-height: 80px;
 
}
}






/*Experience Start here*/
#experience{
  padding-top: 40px;
  height: 1000px;
  background-position: center;
  background-repeat: cover;
}

#experience-content h1{
   color: #008B8B;
   text-align: center;
   font-size: 30px;
   padding: 50px 30px 20px;
   text-shadow: 2px 2px #000;
}
#experience-content p{
  color: #008B8B;
   text-align: center;
   font-size: 12px;
   padding: 0px 30px 20px;
   
}


/*Experience end here*/
#work{
  width: 100%;
  height: 1000px;
  background-position: center;
  background-repeat: cover;
  padding-top: 40px;
  border-radius: 30px;
}
#work h1{
  color: #008B8B;
  text-align: center;
  font-size: 30px;
  padding: 50px 30px 20px;
  text-shadow: 2px 2px #000;
}


 #work p{
  color: #008B8B;
  text-align: center;
  font-size: 12px;
  padding: 0px 30px 20px;
  
 }
 /*----------------------------------------------------------------------------------------------*/
/*Experience end here*/
#contact{
  width: 100%;
  height: 1000px;
  background-position: center;
  background-repeat: cover;
  padding-top: 40px;
  border-radius: 30px;
}
#contact h1{
  color: #008B8B;
   text-align: center;
   font-size: 30px;
   padding: 50px 30px 20px;
   text-shadow: 2px 2px #000;
}

 form{
   background-color: #474747;
   display: flex;
   flex-direction: column;
   padding: 2vw 4vw;
   width: 90%;
   max-width: 600px;
   border-radius: 10px;
 }

 form input, form area{
  background-color: #f5f5f5;
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline:none;
  font-size: 16px;
}
form button{
  padding: 15px;
  background: #008B8B;
  color:#fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  width: 100px;
  margin: 20px auto 0;
}
.error
{
  color: red;
  size: 80%
}
.hidden
{
  display:none
}
footer{
  max-width: 500px;
  margin: auto;
  padding: 20px;
  text-align: center;
  line-height: 50px;
}
footer h2{
  font-size: 15px;
}
footer .fa {
   padding: 10px;
   font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin:5px 2px;
    border-radius:  50%;
}
footer .fa:hover{
  opacity: 0.8;
}
footer .fa-linkedin{
  background: #007bb5;
  color: #fff;
}
footer .fa-facebook {
  background: #3B5998;
  color: white;
}
footer .fa-instagram {
  background:  #cb2027;
  color: white;
}
 /*----------------------------------------------------------------------------------------------*/
